{% extends 'base.html' %}
{% block title %} ACERCA DE ... {% endblock %}

{% block body %}
<div class="container m-5">
    <h1 class="text-center">Pagina de acerca de... </h1>
    <p class="text-center">Bienvenido a Mundo Escolar, el lugar donde los colores, las ideas y la creatividad se
        encuentran. 🎨</p>

    <p class="text-center">Nos dedicamos a ofrecer los mejores útiles escolares para acompañarte en cada paso del
        aprendizaje. Desde lápices que escriben sueños hasta cuadernos que guardan grandes ideas, tenemos todo lo que
        necesitas para hacer de cada día de clases una nueva aventura.</p>

    <p class="text-center">Creemos que estudiar puede ser divertido, que la organización también es arte y que cada
        pequeño detalle —una regla, una pluma, un marcador— puede inspirar grandes logros.</p>

    <p class="text-center">Por eso, en Mundo Escolar no solo vendemos productos: te ayudamos a prepararte para aprender,
        crear y brillar. 🌟
    </p>
</div>
{% endblock %}