{% extends 'baseadmin.html' %} {% block title %}Panel de Administración{%
endblock %} {% block body %}
<!--MENSAJE DE ALERTA SweetAlert2 CONFIRMACION-->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<ul class="flashes">
  {% for category, message in messages %}
  <script type="text/javascript">
    const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 2000,

      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      },
    });
    Toast.fire({
      icon: "success",
      title: "{{message}}",
    });
  </script>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<!--MENSAJE DE ALERTA PARA ELIMINACION SweetAlert2-->
<script>
  function confirmarEliminacion(url) {
    Swal.fire({
      title: "¿Estás seguro?",
      text: "¡No podrás revertir esto!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#d33",
      cancelButtonColor: "#3085d6",
      confirmButtonText: "Sí, eliminar",
      cancelButtonText: "Cancelar",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = url;
      }
    });
  }
</script>
<div class="container p-5 mt-3">
  <h2 class="text-center alert alert-danger py-4">
    Sistema de Gestión de Productos y Usuarios
  </h2>
  <div class="row">
    <div class="row text-center">
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div
          class="card card-hover-shadow"
          style="background: linear-gradient(360deg, #2a0a67, #005282, #127546)"
        >
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-body text-white">
                  <h5 class="card-title">Perfil del Usuario</h5>
                  <!-- p class="card-text">Mostrar registro de usuarios</p> -->
                  <p class="card-text fw-bold fs-2">{{ total_usuarios }}</p>
                  <a
                    href="{{ url_for('listar')}}"
                    class="btn btn-outline-success"
                    >Ver Detalles</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4 align-content-center">
              <img
                src="{{ url_for('static', filename='img/user (1).png') }}"
                class="img-fluid rounded-start"
                alt="Agregar Usuario ..."
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div
          class="card card-hover-shadow"
          style="background: linear-gradient(360deg, #9f0c71, #773e90, #485497)"
        >
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-body text-white">
                  <h5 class="card-title">Registrar Productos</h5>
                  <!-- <p class="card-text">Agregar los productos al sistema</p> -->
                  <p class="card-text fw-bold fs-2">{{ total_productos }}</p>
                  <a
                    href="{{ url_for('agregarProducto') }}"
                    class="btn btn-outline-success"
                    >Ver Detalles</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4 align-content-center">
              <img
                src="{{ url_for('static', filename='img/carritoproducto (1).png') }}"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div
          class="card card-hover-shadow"
          style="background: linear-gradient(360deg, #f9f5c3, #fd5d5d, #757575)"
        >
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <div class="card-body text-white">
                  <h5 class="card-title">Visualizar Productos</h5>
                  <!-- <p class="card-text">Muestra lista de productos</p> -->
                  <p class="card-text fw-bold fs-2">{{ total_productos }}</p>
                  <a
                    href="{{ url_for('listar_productos') }}"
                    class="btn btn-outline-success"
                    >Ver Detalles</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4 align-content-center">
              <img
                src="{{ url_for('static', filename='img/listasproductos.png') }}"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card-hover-shadow {
    /* Agrega una sombra sutil por defecto (opcional) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Añade una transición para animar suavemente la sombra y la transformación */
    transition: all 0.3s ease-in-out;
  }

  /* Efecto al pasar el mouse */
  .card-hover-shadow:hover {
    /* Sombra más prominente: horizontal-offset vertical-offset blur-radius spread-radius color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    /* Opcional: Levantar la tarjeta ligeramente para un mejor efecto */
    transform: translateY(-5px);
    cursor: pointer; /* Cambia el cursor para indicar interactividad */
  }
</style>
{% endblock %}
